body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  max-width: 1200px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

.search-input {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px auto 20px;
  gap: 10px;
  justify-content: center;
}

.image-grid img {
  width: 100%;
  height: 250px;
}

.image-card {
  width: 300px;
}

.card-meta {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h3 {
  margin: 0;
}

.card-tags-container {
  display: flex;
  row-gap: 8px;
}

.card-tags-container p {
  margin: 0 8px 0 0;
}

.card-tags {
  display: flex;
  scrollbar-width: none;
  -ms-overflow-style: none;
  white-space: nowrap;
  overflow-x: auto;
  gap: 8px;
}

.card-tags::-webkit-scrollbar {
  display: none;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

@media (max-width: 1400px) {
  .app-container {
    width: 90%;
  }
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
